@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-box, .content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-box {
  height: 100vh;
  flex-wrap: wrap;
}

.content-box {
  flex-flow: column nowrap;
  justify-content: center;
}

.main-item {
  border: 1px solid black;
  width: 45%;
  min-width: 300px;
  height: 90vh;
}